
header{
    top: 0;
    font-size: 24px ;
    position: fixed;
    width: 99.6%;
    z-index: 100;
    font-family: 'Lato', sans-serif;
    color: #0D315B;
}
.logo{
    padding-left: 50px;
    height: 100px;
    width: 100px;
}

.icons{
    padding-right: 50px;
}

.wrapper{
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
a:link {
    text-decoration: none;
    padding: 10px 15px;
    color: #0D315B;
}

a{
    color: #0D315B;
}

.promo {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
    line-height: 0px;
}

.promo h1{
    padding-top: 110px;
    font-family:'Alata', sans-serif;
    font-size: 4.5rem;
    text-align: center;
    color: #f3f3f3
}

.promo p{
    font-family:'Alata', sans-serif;
    font-size: 2.0rem;
    text-align: center;
    color: #f3f3f3;
}

#hero{
    min-height: 115vh;
    position: relative;
}